.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #323232;
    position: fixed;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
  }
  .sidebar .nav li a {
    color: #8d40ff;
  }
  .sidebar .nav li a:hover {
    color: #6f10fd;
  }